## Deliverable 3. Create a Travel Itinerary Map.

In [1]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps

# Import API key
from config import g_key

# Configure gmaps
gmaps.configure(api_key=g_key)

In [2]:
# 1. Read the WeatherPy_vacation.csv into a DataFrame.
vacation_df = pd.read_csv("Vacation_Search/WeatherPy_vacation.csv")
vacation_df.head()

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,8,Busselton,AU,83.34,clear sky,-33.6500,115.3333,Observatory Guest House
1,15,Hilo,US,80.33,few clouds,19.7297,-155.0900,Hilo Hawaiian Hotel
2,23,Nanakuli,US,78.75,scattered clouds,21.3906,-158.1547,Camp Pālehua
3,41,Georgetown,MY,80.89,few clouds,5.4112,100.3354,Cititel Penang
4,43,Bambous Virieux,MU,78.22,moderate rain,-20.3428,57.7575,Casa Tia Villa

In [3]:
# 2. Using the template add the city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Description</dt><dd>{Current Description}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

# 3a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in vacation_df.iterrows()]

# 3b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = vacation_df[["Lat", "Lng"]]

In [4]:
# 4a. Add a marker layer for each city to the map.

# 4b. Display the figure
gmaps.configure(api_key = g_key)
locations = vacation_df[['Lat','Lng']]
info_box_template='''
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Weather</dt><dd>{Current Description} and {Max Temp}°F</dd>
</dl>'''

hotel_info = [info_box_template.format(**row) for index, row in vacation_df.iterrows() ]
fig = gmaps.figure(center = (30.0,31.0), zoom_level = 1.5)
marker_layer = gmaps.marker_layer(locations, info_box_content = hotel_info)
fig.add_layer(marker_layer)
fig

Figure(layout=FigureLayout(height='420px'))

In [34]:
# From the map above pick 4 cities and create a vacation itinerary route to travel between the four cities. 
# 5. Create DataFrames for each city by filtering the 'vacation_df' using the loc method. 
# Hint: The starting and ending city should be the same city.

vacation_start_df = vacation_df.loc[vacation_df["City"] == "El Tigre"]
vacation_end_df = vacation_df.loc[vacation_df["City"] == "El Tigre"]
vacation_stop1_df = vacation_df.loc[vacation_df["City"] == "Alta Gracia"]
vacation_stop2_df = vacation_df.loc[vacation_df["City"] == "Arraial Do Cabo"] 
vacation_stop3_df = vacation_df.loc[vacation_df["City"] == "Nova Russas"]

In [35]:
# 6. Get the latitude-longitude pairs as tuples from each city DataFrame using the to_numpy function and list indexing.
start = tuple(*vacation_start_df[["Lat","Lng"]].to_numpy())
end = tuple(*vacation_end_df[["Lat","Lng"]].to_numpy())
stop1 = tuple(*vacation_stop1_df[["Lat","Lng"]].to_numpy())
stop2 = tuple(*vacation_stop2_df[["Lat","Lng"]].to_numpy())
stop3 = tuple(*vacation_stop3_df[["Lat","Lng"]].to_numpy())






#start = vacation_start["Lat"].values[0], vacation_start["Lng"].values[0]
#end = vacation_end["Lat"].values[0], vacation_end["Lng"].values[0]
#stop1 = vacation_stop1["Lat"].values[0], vacation_stop1["Lng"].values[0]
#stop2 = vacation_stop2["Lat"].values[0], vacation_stop2["Lng"].values[0]
#stop3 = vacation_stop3["Lat"].values[0], vacation_stop3["Lng"].values[0]
print(start)
print(end)
print(stop1)
print(stop2)
print(stop3)

(8.8875, -64.2454)
(8.8875, -64.2454)
(-31.6529, -64.4283)
(-22.9661, -42.0278)
(-4.7067, -40.5631)

In [36]:
# 7. Create a direction layer map using the start and end latitude-longitude pairs,
# and stop1, stop2, and stop3 as the waypoints. The travel_mode should be "DRIVING", "BICYCLING", or "WALKING".
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
itinerary_df = gmaps.directions_layer(start, end, 
                                          waypoints=[stop1, stop2, stop3],travel_mode='DRIVING')
fig.add_layer(itinerary_df)
fig

Figure(layout=FigureLayout(height='420px'))

In [37]:
# 8. To create a marker layer map between the four cities.
#  Combine the four city DataFrames into one DataFrame using the concat() function.
itinerary_df = pd.concat([vacation_start_df, vacation_stop1_df, vacation_stop2_df, vacation_stop3_df, vacation_end_df],ignore_index=True)
itinerary_df

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,414,El Tigre,VE,75.81,broken clouds,8.8875,-64.2454,Hotel Santa Cruz
1,334,Alta Gracia,AR,83.55,few clouds,-31.6529,-64.4283,Hotel Ritz
2,92,Arraial Do Cabo,BR,75.27,overcast clouds,-22.9661,-42.0278,Pousada Porto Praia
3,234,Nova Russas,BR,75.33,overcast clouds,-4.7067,-40.5631,palace motel
4,414,El Tigre,VE,75.81,broken clouds,8.8875,-64.2454,Hotel Santa Cruz

In [38]:
# 9 Using the template add city name, the country code, the weather description and maximum temperature for the city. 
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Weather</dt><dd>{Current Description} and {Max Temp} °F</dd>
</dl>
"""

# 10a Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in itinerary_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = itinerary_df[["Lat", "Lng"]]

In [39]:
# 11a. Add a marker layer for each city to the map.
locations = itinerary_df[["Lat", "Lng"]]

# 11b. Display the figure

gmaps.configure(api_key = g_key)
locations = itinerary_df[['Lat','Lng']]

hotel_info = [info_box_template.format(**row) for index, row in itinerary_df.iterrows() ]
fig = gmaps.figure(center = (30.0,31.0), zoom_level = 1.5)
marker_layer = gmaps.marker_layer(locations, info_box_content = hotel_info)
fig.add_layer(marker_layer)
fig

Figure(layout=FigureLayout(height='420px'))